name: Quality Gate
on:
  pull_request:

permissions:
  contents: read
  actions: read
  pull-requests: write

jobs:
  quality-gate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v5
        with:
          go-version: '1.21'
      - run: go mod download

      - run: go test -coverprofile=coverage.out ./...
      - run: go install github.com/boumenot/gocover-cobertura@latest
      - run: gocover-cobertura < coverage.out > coverage.xml

      - name: Quality Gate Check
        uses: unentropy/quality-gate@v0