name: Metrics
on:
  push:
    branches: [main]

permissions:
  contents: read
  actions: read
  pull-requests: write
  id-token: write

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.21'
      - run: go mod download

      - run: go test -coverprofile=coverage.out ./...
      - run: go install github.com/boumenot/gocover-cobertura@latest
      - run: gocover-cobertura < coverage.out > coverage.xml

      - uses: unentropy/track-metrics@v0

      - uses: actions/upload-pages-artifact@v3
        with:
          path: unentropy-report
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
        id: report_deployment
    environment: # Optional, but recommended to show the report URL in GitHub Actions UI
      name: github-pages
      url: ${{ steps.report_deployment.outputs.page_url }}  
